<h4>Fun for Nerds</h4>

<div class="mt-2 mb-2 d-flex flex-column gap-2 w-25">
  <input type="text" class="form-control" (input)="onUserInput($event)"/>
  @if (!userInput) {
    <span class="text-danger">No user input!</span>
  } @else if (userInput) {
    <span class="text-bg-info p-2 text-truncate">
      {{ wordLength }}
    </span>
  }

  @if (wordLength != 0) {


    <div class="d-flex ">
      <div class="mt-2 mb-2 d-flex flex-column gap-2 w-25 ">
        @if (numberCheck == 0) {
          <span>Even</span>
        } @else {
          <div class="mt-2 mb-2 d-flex flex-column gap-2 w-25 ">
            <span>Odd</span>
          </div>
        }
      </div >
    </div>
  }
</div>
