<div class="d-flex flex-column gap-3 container w-50 align-items-center ">
  <div class="row container ">
    <input class="form-control col me-2 " (input)="onUserInput($event)"/>
    <button (click)="onWordSubmitted()" class="btn btn-primary col-2" id="button">Submit</button>
    
  </div>
    @if (!userInput) {
      <span class="text-danger">No user input!</span>
    } @else if (userInput) {
      <span class="text-bg-info p-2 w-50  text-truncate">
        User Input is: {{ userInput }}
      </span>
    }
    <!-- <div class="container">
      @if (wordLength != 0) {
        <div class="row align-items-start">
        @if (numberCheck == 0) {
          Even
        } @else {
          <div class="col">
          Odd
          </div>
        }
        </div >

      }
    </div> -->
</div>

